h2(layout="row" layout-align="center center") Projects

div(layout="row" layout-wrap)
  md-card(flex="30" ng-repeat="project in projects.projects").left
    md-card-content(layout="column")
      h2 {{project.name}}
      md-content(layout="row" layout-align="start center")
        h4 Forks:
        span {{project.forks_count}}
      md-content(layout="row" layout-align="start center")
        h4 Language:
        span {{project.language}}
      md-content(layout="row" layout-align="start center")
        h4 Forks:
        span {{project.forks_count}}
      md-button(href="{{project.svn_url}}" aria-label layout="row" layout-align="center center")
        i.fa.fa-github.fa-3x
