doctype html
html(lang='en' data-ng-app='client')
  head
    title Home - Tetrasol
    link(rel="shortcut icon" type="image/ico" href="images/tetrasol.ico")
    link(rel="shortcut icon" type="image/ico" href="images/tetrasol.ico")
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
  body
    div(layout="row")
      header(flex="25")
      md-content(flex layout-padding data-ui-view)

    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
