h2(layout="row" layout-align="center center") About Us

md-content(layout="row" layout-align="start start" flex)
  md-content(flex="20")
    img(src="{{aboutUs.image}}").image-size
  md-content(flex="50")
    p {{aboutUs.content}}
