md-sidenav(md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex="5" ng-repeat="item in navbar.links"
           layout-padding).md-sidenav-left.md-whiteframe-z1
  md-button(ui-sref="{{item.state}}" aria-label) {{item.link}}
