h2(layout="row" layout-align="center center") Hall of Fame
p {{contributers.ctrlName}}

div(layout="row" layout-wrap)
  md-card(flex="20" ng-repeat="contributer in contributers.contributers").left
    img(ng-src="{{contributer.avatar_url}}")
    md-card-content
      h2 {{contributer.login}}
      p {{contributer.role}}
      md-button(href="{{contributer.html_url}}" aria-label)
        i.fa.fa-github.fa-3x
