h2 Hall of Fame
p {{contributers.ctrlName}}

div(layout="row" layout-wrap)
  md-card(flex="20" ng-repeat="contributer in contributers.contributers").left
    img(ng-src="{{contributer.avatar}}")
    md-card-content
      h2 {{contributer.name}}
      p {{contributer.role}}
      md-button(href="{{contributer.github}}").md-primary.fa.fa-github
