md-content
  md-toolbar
    div.md-toolbar-tools
      md-button(aria-label="Settings").md-icon-button
        i.fa.fa-bars
      h2 Tetrahedron Solutions
      span(flex)
      md-button.md-icon-button
        md-icon(md-svg-icon="im/icons/more_vert.svg")
