md-content
  md-toolbar
    div.md-toolbar-tools
      md-button(aria-label="Settings" ng-click="header.navbarToggle()" hide-gt-sm).md-icon-button
        md-icon.fa.fa-bars
      img(src="../images/tsol-image.png").header-logo
      h1 {{ header.name }}
      span(flex)
      md-button.md-icon-button
        md-icon.fa.fa-ellipsis-v
