md-sidenav(
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-disable-backdrop
        md-whiteframe="4").md-sidenav-left
  md-toolbar(layout-align="center center")
    img(src="../images/tetrasol.png").header-logo
  md-content(layout="column" layout-padding)
    a(flex="25" ui-sref="projects").no-underline.fa.fa-github Projects
    a(flex="25" ui-sref="contributers").no-underline.fa.fa-users Hall of Fame
    a(flex="25" ui-sref="contributions").no-underline.fa.fa-cubes Contributions
    a(flex="25" href="https://medium.com/@gardlt").no-underline.fa.fa-newspaper-o Blog
    a(flex="25" ui-sref="about-us").no-underline.fa.fa-home About-us
